body{
    background-color: tan;
}
h1{
   color: #004B87;
text-align: center;
font-size: 50px;
padding-bottom: 20px;
}
img{
   max-width: 100%;
  height: 100px;
}
.game{
    width: 900px;
    height: 700px;
    border: 2px solid black;
    margin: auto;
}
.info{
color:  #004B87;
font-size: 30px;
}
#boy{
    position: relative;
    top: 390px;
}
#enemy{
    position: relative;
    top: 360px;
    left: 800px;
    animation: block 100000.5s linear infinite;
}
#background{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://img.craftpix.net/2023/04/Power-Station-Free-Tileset-Pixel-Art.gif");
    height: 700px;
}
#score{
    text-align: center;
    border: 3px dotted black;
    width: 100px;
    height: 50px;
    font-size: 50px;
}
.jump{
    animation: jump 4s ease-in-out;
}
#scoreFont{
    font-size: 25px;
    color: rgb(34, 2, 177)
   
}
#restButton{
text-align: center;
}
#highScoreFont{
    display: flex;
    font-size: 25px;
    color: rgb(34, 2, 177)

}
.highScore{
    text-align: center;
    border: 3px dotted black;
    width: 100px;
    height: 50px;
    font-size: 50px;
}

@keyframes block{
 0%{
    left: 800px;
 }
 100%{
    left: 0px;
 }


}
@keyframes jump{
    0%{
        top: 150px;
    }
    30%{
        top: 130px;
    }
    50%{
       top: 80px; 
    }
    80%{
        top: 1300px;
    }
    100%{
        top: 150px;
    }
}